:root {
    --amarelo: #FFCB47;
    --branco: #FFFFFF;
    --amarelho-sombra: #FFCB473D;
    --preto: #202020;
    --preto-sombra: #0000000F;
    --cinza: #909090;

    --fonte-corpo: 'Montserrat', sans-serif;
    --fonte-titulo-destaque: 'Elsie Swash Caps', serif;
    
}